/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header ocupa 10% del alto de la página */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 60px;
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-left: 10px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Main ocupa el 80% del alto de la página */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}

/* Sección héroe centrada con fondo completo */
.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    color: white;
    /*padding: 350px 600px;*/
    padding: 35vh 60vw;
    text-align: center;
}

/* Footer ocupa 10% del alto de la página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 10%;
    width: 100%;
}